body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

body.dark-mode,
html.dark-mode {
  background-color: #18171d;
}

.screen {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  height: auto;
  opacity: 1;
}

.mainScreen {
  transform: translateX(0);
}

.secondScreen {
  transform: translateX(100%);
  opacity: 0;
}

.secondScreen.slideInRight {
  transform: translateX(0);
  opacity: 1;
}

.secondScreen.slideOutLeft {
  transform: translateX(100%);
  opacity: 0;
}

.mainScreen.slideInRight {
  transform: translateX(0);
  opacity: 1;
}

.mainScreen.slideOutLeft {
  transform: translateX(-100%);
  opacity: 0;
}
